<section>
  <div class="left-side">
    <h2>Contact me</h2>
    <h1 class="fontFira-code">Let's work together</h1>
    <h3>Got a problem to solve?</h3>
    <span
      >Encourage people to contact you and describe what role you are interested
      in. Show that you will add value to their projects through your work.
    </span>
    <div>
      <span>Need a Frontend developer?</span>
      <p>Let’s talk!</p>
    </div>
  </div>

  <form
    class="right-side"
    (ngSubmit)="onSubmit(contactForm)"
    #contactForm="ngForm"
  >
    <div class="input-box">
      <div class="line"></div>
      <div class="input">
        <h3>What's your name?</h3>
        <input
          #name="ngModel"
          [(ngModel)]="contactData.name"
          type="text"
          placeholder="Your name goes here"
          name="name"
          required
        />@if (!name.valid && name.touched && !name.disabled) {
        <span class="error-message">Oops! it seems your name is missing</span>
        }
      </div>
      <div class="line"></div>
    </div>

    <div class="input-box">
      <div class="line"></div>
      <div class="input">
        <h3>What's your email?</h3>
        <input
          #email="ngModel"
          [(ngModel)]="contactData.email"
          type="text"
          placeholder="youremail@email.com"
          name="email"
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          required
        />
        @if (!email.valid && email.touched && !email.disabled) {
        <span class="error-message">Hoppla! your email is required</span>
        }
      </div>
      <div class="line"></div>
    </div>

    <div class="input-box">
      <div class="line"></div>
      <div class="input">
        <h3>How can I help you?</h3>
        <input
          #message="ngModel"
          [(ngModel)]="contactData.message"
          type="text"
          placeholder="Hello Christian, I am interested in..."
          name="message"
          minlength="4"
          required
        />
        @if (!message.valid && message.touched && !message.disabled) {
        <span class="error-message">What do you need to develop?</span>
        }
      </div>
      <div class="line"></div>
    </div>

    <div class="checkbox">
      <label class="container-checkbox">
        <input
          #checkbox="ngModel"
          [(ngModel)]="accepted"
          name="checkbox"
          id="checkbox"
          type="checkbox"
          required
        />
        <span class="checkmark"></span>
      </label>

      <div class="text">
        <span>I've read the </span> <button>privacy policy</button>
        <span>and agree to the processing of my data as outlined.</span>
      </div>
      @if (!checkbox.valid && checkbox.touched && !checkbox.disabled) {
        <span class="error-message">Please accept the policy</span>
        }
    </div>

    @if (name.valid && email.valid && message.valid && checkbox.valid) {
    <button type="submit" value="Submit" class="submit-btn">Say Hello ;)</button>
    }@else {
      <div class="placeholder-button"></div>
    }
  </form>

  @if (showMessage) {
    <div class="success-message-overlay">
      <app-success-message></app-success-message>
    </div>    
  }
</section>
