@import "./../../../styles.scss";

section {
  background-color: $backgroundDark;
  width: 100%;
  display: flex;
  padding: 102px 96px;
  gap: 40px;
  @media (max-width: 990px) {
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 730px) {
    padding: 56px 32px;
  }
  @media (max-width: 635px) {
    padding: 56px 8px;
   }
}

h2 {
  color: $aqua;
  font-size: 24px;
  font-weight: 500;
}

h1 {
  word-spacing: -15px;
  font-size: 64px;
  font-weight: bold;
  color: $aqua;
  @media (max-width: 635px) {
    font-size: 56px;
  }
}

h3 {
  word-spacing: -7px;
  font-family: "Fira Code";
  color: $aqua;
  font-size: 24px;
  font-weight: bold;
}

.left-side {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  gap: 20px;
  font-size: 18px;
  @media (max-width: 990px) {
    width: 100%;
  }
  @media (max-width: 635px) {
    font-size: 16px;
  }

  > div {
    display: flex;
    gap: 3px;

    > p {
      color: $aqua;
    }
  }

  > .lets-talk {
    flex-wrap: wrap;
  }
}

.right-side {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  @media (max-width: 990px) {
    width: 100%;
  }

  > .input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    &:hover {
      .line {
        border: 1px solid white;
      }
    }

    > .input {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 32px;
      position: relative;
      :focus {
        outline: none;
      }

      > input {
        background-color: unset;
        border: none;
        color: white;
        font-size: 22px;
        &:-webkit-autofill,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:active {
          transition: background-color 9999s ease-out, color 9999s ease-out;
        }
      }

      > .error-message {
        position: absolute;
        bottom: 7px;
        color: red;
      }
    }

    > .line {
      border: 1px solid $aqua;
      height: 1px;
      width: 100%;
    }
  }
}


.checkbox {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;

  span {
    font-size: 16px;
  }
  a {
    color: $aqua;
    font-size: 16px;
    font-family: "Fira Code";
    margin: 0;
    position: relative;
    &:hover {
      cursor: pointer;
      color: white;
      &::after {
        width: 95%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      height: 2px;
      width: 0;
      background: currentColor;
      transition: width 0.3s ease;
    }
  }

  > .error-message {
    position: absolute;
    bottom: -19px;
    color: red;
  }
}

.button {
  margin-top: 30px;
  align-self: center;
}

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  &:hover {
    background-color: #3dcfb780;
  }

  > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  > input:checked ~ .checkmark::after {
    display: block;
  }

  > .checkmark {
    position: absolute;
    top: -7px;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: $backgroundDark;
    border: 2px solid $aqua;
    border-radius: 3px;
    transition: all 0.2s ease;

    &:hover {
      background-color: #3dcfb780;
    }

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: 1px solid $aqua;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.submit-btn {
  margin-top: 30px;
  display: flex;
  align-items: center;
  align-self: center;
  height: 48px;
  width: fit-content;
  background: none;
  border: 1px solid $aqua;
  border-radius: 100px;
  padding: 24px;
  font-size: 18px;
  text-align: center;
  gap: 4px;
  transition: transform 0.3s ease;
  animation: pop 0.8s ease-out;

  &:hover {
    cursor: pointer;
    border-color: $aqua;
    color: $aqua;
  }
}

.placeholder-button {
  height: 50px;
  width: 50px;
  margin-top: 30px;
}

.success-message-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
