<section>
  <div class="left-side">
    <h2>
      {{
        lang.languageEnglish() ? langTexts.en.headline : langTexts.de.headline
      }}
    </h2>
    <h1 class="fontFira-code">
      {{ lang.languageEnglish() ? langTexts.en.title : langTexts.de.title }}
    </h1>
    <h3>
      {{
        lang.languageEnglish()
          ? langTexts.en.problemText
          : langTexts.de.problemText
      }}
    </h3>
    <span
      >{{
        lang.languageEnglish() ? langTexts.en.infoText : langTexts.de.infoText
      }}
    </span>
    <div class="lets-talk">
      <span>{{
        lang.languageEnglish()
          ? langTexts.en.needOneText
          : langTexts.de.needOneText
      }}</span>
      <p>Let's talk!</p>
    </div>
  </div>

  <form
    class="right-side"
    (ngSubmit)="onSubmit(contactForm)"
    #contactForm="ngForm"
  >
    <div class="input-box">
      <div class="line"></div>
      <div class="input">
        <h3>
          {{
            lang.languageEnglish()
              ? langTexts.en.titleName
              : langTexts.de.titleName
          }}
        </h3>
        <input
          #name="ngModel"
          [(ngModel)]="contactData.name"
          type="text"
          [placeholder]="
            lang.languageEnglish()
              ? langTexts.en.placeholderName
              : langTexts.de.placeholderName
          "
          name="name"
          required
        />@if (!name.valid && name.touched && !name.disabled) {
        <span class="error-message">{{
          lang.languageEnglish()
            ? langTexts.en.errorName
            : langTexts.de.errorName
        }}</span>
        }
      </div>
      <div class="line"></div>
    </div>

    <div class="input-box">
      <div class="line"></div>
      <div class="input">
        <h3>
          {{
            lang.languageEnglish()
              ? langTexts.en.titleEmail
              : langTexts.de.titleEmail
          }}
        </h3>
        <input
          #email="ngModel"
          [(ngModel)]="contactData.email"
          type="text"
          [placeholder]="
            lang.languageEnglish()
              ? langTexts.en.placeholderEmail
              : langTexts.de.placeholderEmail
          "
          name="email"
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          required
        />
        @if (!email.valid && email.touched && !email.disabled) {
        <span class="error-message">{{
          lang.languageEnglish()
            ? langTexts.en.errorEmail
            : langTexts.de.errorEmail
        }}</span>
        }
      </div>
      <div class="line"></div>
    </div>

    <div class="input-box">
      <div class="line"></div>
      <div class="input">
        <h3>
          {{
            lang.languageEnglish()
              ? langTexts.en.titleMessage
              : langTexts.de.titleMessage
          }}
        </h3>
        <input
          #message="ngModel"
          [(ngModel)]="contactData.message"
          type="text"
          [placeholder]="
            lang.languageEnglish()
              ? langTexts.en.placeholderMessage
              : langTexts.de.placeholderMessage
          "
          name="message"
          minlength="4"
          required
        />
        @if (!message.valid && message.touched && !message.disabled) {
        <span class="error-message">{{
          lang.languageEnglish()
            ? langTexts.en.errorMessage
            : langTexts.de.errorMessage
        }}</span>
        }
      </div>
      <div class="line"></div>
    </div>

    <div class="checkbox">
      <label class="container-checkbox">
        <input
          #checkbox="ngModel"
          [(ngModel)]="accepted"
          name="checkbox"
          id="checkbox"
          type="checkbox"
          required
        />
        <span class="checkmark"></span>
      </label>

      <div class="text">
        <span
          >{{
            lang.languageEnglish()
              ? langTexts.en.textCheckboxOne
              : langTexts.de.textCheckboxOne
          }}
        </span>
        <button>
          {{
            lang.languageEnglish()
              ? langTexts.en.textCheckboxButton
              : langTexts.de.textCheckboxButton
          }}
        </button>
        <span>{{
          lang.languageEnglish()
            ? langTexts.en.textCheckboxTwo
            : langTexts.de.textCheckboxTwo
        }}</span>
      </div>
      @if (!checkbox.valid && checkbox.touched && !checkbox.disabled) {
      <span class="error-message">{{
        lang.languageEnglish()
          ? langTexts.en.errorCheckbox
          : langTexts.de.errorCheckbox
      }}</span>
      }
    </div>

    @if (name.valid && email.valid && message.valid && checkbox.valid) {
    <button type="submit" value="Submit" class="submit-btn">
      Say Hello ;)
    </button>
    }@else {
    <div class="placeholder-button"></div>
    }
  </form>

  @if (showMessage) {
  <div class="success-message-overlay">
    <app-success-message></app-success-message>
  </div>
  }
</section>
