@import "./../../../styles.scss";

section {
  background-color: $backgroundDark;
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 102px 96px;
}

h2 {
  color: $aqua;
  font-size: 24px;
  font-weight: 500;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  color: $aqua;
}

h3 {
  font-family: "Fira Code";
  color: $aqua;
  font-size: 24px;
  font-weight: bold;
}

.left-side {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  gap: 20px;
  > div {
    display: flex;
    gap: 3px;
    > p {
      color: $aqua;
    }
  }
}

.right-side {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  > .input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    .input {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 32px;

      > input {
        background-color: unset;
        border: none;
        color: white;
        font-size: 22px;
      }
    }
    > .line {
      border: 1px solid $aqua;
      height: 1px;
      width: 100%;
    }
    &:hover {
      .line {
        border: 1px solid white;
      }
    }
  }
}

.checkbox {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  #checkbox {
    border-color: $aqua;
    border: 3px solid;
    height: 24px;
    width: 24px;
    background-color: green;
  }
  span {
    font-size: 15px;
  }
  button {
    border: none;
    background-color: unset;
    color: $aqua;
    font-size: 15px;
    font-family: "Fira Code";
    margin: 0;
    padding: 0 5px;
    &:hover {
      cursor: pointer;
      color: white;
      box-shadow: inset 0 -1px 0 0 $aqua;
    }
  }
}

.button{
    margin-top: 30px;
    align-self: center;
}

