@import "./../../../styles.scss";

section {
  background-color: $backgroundDark;

  width: 100%;
  display: flex;
  padding: 102px 96px;
}

h2 {
  color: $aqua;
  font-size: 24px;
  font-weight: 500;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  color: $aqua;
}

h3 {
  font-family: "Fira Code";
  color: $aqua;
  font-size: 24px;
  font-weight: bold;
}

.left-side {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  gap: 20px;
  > div {
    display: flex;
    gap: 3px;
    > p {
      color: $aqua;
    }
  }
}

.right-side {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  > .input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    .input {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 32px;
      position: relative;
      :focus {
        outline: none;
      }

      > input {
        background-color: unset;
        border: none;
        color: white;
        font-size: 22px;
      }
      > .error-message {
        position: absolute;
        top: 112px;
        color: red;
      }
    }
    > .line {
      border: 1px solid $aqua;
      height: 1px;
      width: 100%;
    }
    &:hover {
      .line {
        border: 1px solid white;
      }
    }
  }
}

.checkbox {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;

  span {
    font-size: 15px;
  }
  button {
    border: none;
    background-color: unset;
    color: $aqua;
    font-size: 15px;
    font-family: "Fira Code";
    margin: 0;
    padding: 0 5px;
    &:hover {
      cursor: pointer;
      color: white;
      box-shadow: inset 0 -1px 0 0 $aqua;
    }
  }

  > .error-message {
    position: absolute;
    top: 47px;
    color: red;
  }
}

.button {
  margin-top: 30px;
  align-self: center;
}

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  
  &:hover {
    background-color: #3dcfb780;
  }

  > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  > input:checked ~ .checkmark::after {
    display: block;
  }

  > .checkmark {
    position: absolute;
    top: -7px;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: $backgroundDark;
    border: 2px solid $aqua;
    border-radius: 3px;
    transition: all 0.2s ease;

    &:hover {
      background-color: #3dcfb780;
    }

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: 1px solid $aqua;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.submit-btn {
  margin-top: 30px;
  display: flex;
  align-items: center;
  align-self: center;
  height: 48px;
  width: fit-content;
  background: none;
  border: 1px solid $aqua;
  border-radius: 100px;
  padding: 24px;
  font-size: 18px;
  text-align: center;
  gap: 4px;
  transition: transform 0.3s ease;
  animation: pop 0.8s ease-out;

  &:hover {
    cursor: pointer;
    border-color: $aqua;
    color: $aqua;
  }
}

.placeholder-button{
  height: 50px;
  width: 50px;
  margin-top: 30px;
}

.success-message-overlay{
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
