@import "./../../../../styles.scss";

section {
  height: 100vh;
  width: 100%;
  animation: fadeIn 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 96px;
  overflow: hidden;
}

.message {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 24px;
  font-size: 18px;
  text-align: center;
  gap: 12px;

  animation: slideMessage 3.5s ease forwards;
  > h2 {
    color: $aqua;
  }
}

@keyframes slideMessage {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  15% {
    transform: translateY(0);
    opacity: 1;
  }

  65% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
