@import "./../../../../styles.scss";

section {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  animation: fadeIn 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 96px;
  overflow-x: hidden;
  @media (max-width: 1100px) {
    padding: 20px 96px;
  }
  @media (max-width: 768px) {
    padding: 5px 32px;
  }
  @media (max-width: 635px) {
    padding: 5px 8px;
  }
}

.info-board {
  background: #1c1c1c;
  background: linear-gradient(
    24deg,
    rgba(28, 28, 28, 1) 54%,
    rgba(61, 207, 182, 0.64) 90%
  );
  display: flex;
  flex-direction: column;
  border: 1px solid $aqua;
  border-radius: 30px;
  padding: 32px 64px;
  height: 700px;
  overflow-y: auto;
  @media (max-width: 1385px) {
    height: 70%;
  }
  @media (max-width: 1100px) {
    height: 99dvh;
  }
  @media (max-width: 768px) {
    padding: 16px 32px;
  }
  @media (max-width: 540px) {
    width: 100%;
    padding: 8px 16px;
  }
}

.button-close {
  display: flex;
  align-self: flex-end;
  height: 48px;
  width: fit-content;
  background: none;
  background-image: url("./../../../../assets/icons/project-info/close.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 24px;
  font-size: 18px;
  text-align: center;
  gap: 4px;
  &:hover {
    cursor: pointer;
    background-image: url("./../../../../assets/icons/project-info/close_hover.png");
  }
}

.left-right-side-container {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 100%;
  @media (max-width: 1100px) {
    justify-content: center;
    gap: 0;
    flex-direction: column-reverse;
  }
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: space-between;
  @media (max-width: 1100px) {
    width: 100%;
  }
  @media (max-width: 320px) {
    gap: 10px;
  }
  > .headlines {
    > h1 {
      font-size: 128px;
      font-weight: bold;
      color: $aqua;
      letter-spacing: -2px;
      @media (max-width: 990px) {
        font-size: 112px;
      }
      @media (max-width: 635px) {
        font-size: 56px;
      }
    }

    > h2 {
      margin-top: -8px;
      font-family: "Fira Code";
      font-size: 64px;
      font-weight: bold;
      word-spacing: -24px;
      line-height: 90%;
      @media (max-width: 990px) {
        font-size: 54px;
      }
      @media (max-width: 635px) {
        font-size: 48px;
      }
    }
  }

  > div {
    > span {
      font-family: "Fira Code";
      font-size: 24px;
      font-weight: bold;
      color: $aqua;
      @media (max-width: 635px) {
        font-size: 20px;
      }
    }

    > p {
      font-size: 18px;
      @media (max-width: 635px) {
        font-size: 16px;
      }
    }
  }

  > .buttons {
    display: flex;
    gap: 30px;
    @media (max-width: 540px) {
      justify-content: center;
    }

    > button {
      > img {
        color: $aqua;
      }
    }
  }
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  @media (max-width: 1100px) {
    height: 60%;
  }
  @media (max-width: 540px) {
    height: 27%;
  }

  @media (max-width: 425px) {
    height: 24%;
  }

  > img {
    border-radius: 30px;
    height: 100%;
    max-width: 525.6px;
    max-height: 374px;
  }
}

.prject-skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  > .skill {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-right: 24px;

    > .skill-icon {
      height: 24px;
      width: 24px;
      @media (max-width: 540px) {
        height: 20px;
        width: 20px;
      }
    }
  }
}

.button-next {
  display: flex;
  align-self: flex-end;
  align-items: center;
  gap: 12px;
  height: 48px;
  width: fit-content;
  background: none;
  border: none;
  padding: 24px;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  color: $aqua;
  @media (max-width: 375px) {
    margin-top: 31px;
  }
  &:hover {
    cursor: pointer;
    color: white;
    .arrow-next {
      transform: translateX(6px) scale(1.1);
    }
  }

  > .arrow-next {
    transition: transform 0.2s ease;
  }
}

.placeholderButtons {
  height: 50px;

  > .in-progress {
    font-size: 30px;
  }
}
