<section (click)="closeInfo()">
  <div class="info-board" (click)="$event.stopPropagation()">
    <button class="button-close" (click)="closeInfo()"></button>
    <div class="left-right-side-container">
      <div class="left-side">
        <div class="headlines">
          <h1>{{ project.id }}</h1>
          <h2>{{ project.name }}</h2>
        </div>
    
        <span>What is this project about?</span>
        <p>{{ project.description }}</p>
  
        <div class="test">
          
        </div>
        <div class="prject-skills">
          @for (skill of project.skills; track $index) {
          <div class="skill">
            <img
              class="skill-icon"
              src="assets/icons/project-info/{{ skill }}.png"
              alt="Skill Icon {{ skill }}"
            />
            <span>{{ skill }}</span>
          </div>
          }
        </div>
  
        <div class="buttons">
          <button class="button">
            GitHub
            <img class="arrow-outward" src="assets/icons/arrow_outward_aqua.png" alt="Arrow outward" />
          </button>
          <button class="button">
            Live Test
            <img class="arrow-outward" src="assets/icons/arrow_outward_aqua.png" alt="Arrow outward" />
          </button>
        </div>
      </div>
  
      <div class="right-side">
        <img src="assets/img/project_info/{{project.name}}.png" alt="">
      </div>
    </div>
    

    <button class="button-next" (click)="nextProject()">
      Next project
      <img class="arrow-next" src="assets/icons/arrow_forward_aqua.png" alt="Arrow forward" />
    </button>
  </div>
</section>
