@import "./../../../../styles.scss";

section {
  height: 100vh;
  width: 100%;
  animation: fadeIn 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 96px;
}

.info-board {
  background: #1c1c1c;
  background: linear-gradient(
    24deg,
    rgba(28, 28, 28, 1) 54%,
    rgba(61, 207, 182, 0.64) 90%
  );
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid $aqua;
  border-radius: 30px;
  padding: 32px 64px;
}

.button-close {
  display: flex;
  align-self: flex-end;
  height: 48px;
  width: fit-content;
  background: none;
  background-image: url("./../../../../assets/icons/project-info/close.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 24px;
  font-size: 18px;
  text-align: center;
  gap: 4px;
  &:hover {
    cursor: pointer;
    background-image: url("./../../../../assets/icons/project-info/close_hover.png");
  }
}

.left-right-side-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 32px;
  > .headlines {
    > h1 {
      font-size: 128px;
      font-weight: bold;
      color: $aqua;
      letter-spacing: -2px;
    }
    > h2 {
      margin-top: -8px;
      font-family: "Fira Code";
      font-size: 64px;
      font-weight: bold;
    }
  }

  > span {
    font-family: "Fira Code";
    font-size: 24px;
    font-weight: bold;
    color: $aqua;
  }
  > p {
    min-height: 72px;
    font-size: 18px;
  }
  > .buttons {
    display: flex;
    gap: 30px;
    > button {
      > img {
        color: $aqua;
      }
    }
  }
}

.right-side {
  width: 50%;
  > img {
    width: 100%;
    height: fit-content;
  }
}

.prject-skills {
  display: flex;
  align-items: center;
  .skill {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-right: 24px;
    > .skill-icon {
      height: 24px;
      width: 24px;
    }
  }
}

.button-next {
  display: flex;
  align-self: flex-end;
  align-items: center;
  gap: 12px;
  height: 48px;
  width: fit-content;
  background: none;
  border: none;
  padding: 24px;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  color: $aqua;
  > .arrow-next {
    transition: transform 0.2s ease;
  }
  &:hover {
    cursor: pointer;
    color: white;
    .arrow-next {
      transform: translateX(6px) scale(1.1);
    }
  }
}
