<nav>
  <div class="logo-mobile">
    <a [routerLink]="['/']"></a>
  </div>
  <div class="menu">
    @if(lang.languageEnglish()){
    <button (click)="lang.setEnglish(false)" class="english_btn"></button>
    }@else{
    <button (click)="lang.setEnglish(true)" class="german_btn"></button>
    }

    <a [routerLink]="['/']" fragment="about-me-scroll-mobile">{{
      lang.languageEnglish() ? langTexts.en.about : langTexts.de.about
    }}</a>
    <a [routerLink]="['/']" fragment="skill-set-scroll" >{{
      lang.languageEnglish() ? langTexts.en.skills : langTexts.de.skills
    }}</a>
    <a [routerLink]="['/']" fragment="featured-projects-scroll">{{
      lang.languageEnglish() ? langTexts.en.projects : langTexts.de.projects
    }}</a>
  </div>

  <div class="burger-menu">
    <button (click)="openMenu()">
      <img src="assets/icons/burger-menu.png" alt="" />
    </button>

    @if(burgerMenuOpen){
    <div class="nav-menu-overlay" (click)="closeMenu()">
      <div class="menu-content" (click)="$event.stopPropagation()">
        <a [routerLink]="['/']" fragment="about-me-scroll-mobile" (click)="closeMenu()">{{
          lang.languageEnglish() ? langTexts.en.about : langTexts.de.about
        }}</a>
        <a [routerLink]="['/']" fragment="skill-set-scroll" (click)="closeMenu()">{{
          lang.languageEnglish() ? langTexts.en.skills : langTexts.de.skills
        }}</a>
        <a [routerLink]="['/']" fragment="featured-projects-scroll" (click)="closeMenu()">{{
          lang.languageEnglish() ? langTexts.en.projects : langTexts.de.projects
        }}</a>
        @if(lang.languageEnglish()){
        <button (click)="lang.setEnglish(false)" class="english_btn"></button>
        }@else{
        <button (click)="lang.setEnglish(true)" class="german_btn"></button>
        }
      </div>
    </div>
    }
  </div>
</nav>
