<nav>
  <div class="menu">
    @if(lang.languageEnglish()){
    <button (click)="lang.setEnglish(false)" class="english_btn"></button>
    }@else{
    <button (click)="lang.setEnglish(true)" class="german_btn"></button>
    }

    <a [routerLink]="['/']" fragment="about-me-scroll">{{
      lang.languageEnglish() ? langTexts.en.about : langTexts.de.about
    }}</a>
    <a [routerLink]="['/']" fragment="skill-set-scroll" >{{
      lang.languageEnglish() ? langTexts.en.skills : langTexts.de.skills
    }}</a>
    <a [routerLink]="['/']" fragment="featured-projects-scroll">{{
      lang.languageEnglish() ? langTexts.en.projects : langTexts.de.projects
    }}</a>
  </div>
  <div class="logo">
    <a [routerLink]="['/']"></a>
  </div>
</nav>
