@import "./../../../../styles.scss";

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  a {
    margin-left: 15px;
    font-family: "Fira Code";
    font-size: 20px;
    color: #ffffff;
    font-weight: lighter;
    position: relative;
    word-spacing: -4px;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 50%;
      background-image: url("./../../../../assets/icons/point_aqua.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 8px;
      height: 8px;
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
    &:hover {
      color: $aqua;

      &::after {
        opacity: 1;
        transform: translateY(16px);
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  > .english_btn {
    height: 28px;
    width: 84px;
    background: none;
    border: unset;
    background-image: url("./../../../../assets/icons/nav_button/english.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      cursor: pointer;
      background-image: url("./../../../../assets/icons/nav_button/english_hover.png");
    }
  }
  > .german_btn {
    height: 28px;
    width: 84px;
    background: none;
    border: unset;
    background-image: url("./../../../../assets/icons/nav_button/german.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    å &:hover {
      cursor: pointer;
      background-image: url("./../../../../assets/icons/nav_button/german_hover.png");
    }
  }
}

.logo {
  > a {
    display: block;
    height: 100%;
    width: 100%;
  }
}
