@import "./../../../styles.scss";

section {
  background-color: $backgroundDark;
  width: 100%;
  display: flex;
  padding: 102px 96px;
  justify-content: space-between;
  align-items: stretch;
  gap: 8%;
  @media (max-width: 990px) {
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  @media (max-width: 768px) {
    padding: 102px 32px;
  }
  @media (max-width: 635px) {
    padding: 56px 8px;
  }
}

.image-container {
  position: relative;
  width: 565px;
  height: 568px;
  display: flex;
  max-width: 95%;
  @media (max-width: 990px) {
    width: fit-content;
    height: 50%;
  }
  @media (max-width: 990px) {
    width: fit-content;
  }

  > .profile {
    position: absolute;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    z-index: 2;
    background-image: url("./../../../assets/img/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 19%;
    @media (max-width: 990px) {
      height: 100%;
    }
    @media (max-width: 768px) {
      width: 97%;
      height: 97%;
    }
    &:hover {
      transform: scale(1.05) translateX(20px) translateY(-30px);
      @media (max-width: 768px) {
        transform: unset;
      }
    }
  }

  > .profile-background {
    border-radius: 30px;
    width: 100%;
    @media (max-width: 990px) {
      height: 100%;
    }
  }
}

.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.about-me-container {
  margin-top: 62px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  @media (max-width: 990px) {
    margin-top: 0;
    width: 100%;
  }
}

.about-me-container__headline {
  font-weight: 300;
  color: $aqua;
  font-size: 24px;
  margin-bottom: 20px;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 18px;
  max-height: 100%;
  @media (max-width: 635px) {
    font-size: 16px;
  }

  > span {
    margin-bottom: 16px;
    margin-left: 16px;
    color: #ffffff;
  }

  > div {
    display: flex;
    gap: 24px;

    > img {
      width: 32px;
      height: 32px;
    }

    > span {
      color: rgb(255, 255, 255, 0.8);
    }
  }
}

.about-me__headline {
  color: $aqua;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: -6px;
  margin-left: 16px;
  @media (max-width: 635px) {
    font-size: 56px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
