<section>
  <div class="image-container block">
    <img src="assets/img/profile_image_hover.png" alt="Hover effect" />
    <img
      class="profile"
      src="assets/img/profile_image.png"
      alt="Profile image"
    />
  </div>

  <div class="about-me-container block">
    <span class="about-me-container__headline">Who I Am</span>
    <div class="about-me text-frame">
      <h2 class="about-me__headline">About me</h2>
      <span
        >Hey there, I'm Christian! I'm currently turning my hobby into my
        profession. I love coding because there's always something new to learn
        and every challenge helps me grow. Solving a problem is incredibly
        motivating — it shows me that I've improved, and I enjoy using what I've
        learned to tackle the next task even better. My inspiration comes from
        continuously pushing my skills forward and seeing real progress in the
        projects I build.</span
      >
      <div>
        <img src="assets/icons/about_me/location_on.png" alt="" />
        <span
          >I'm based in Kerpen (by Cologne). I'm open to working remotely,
          on-site, or in a hybrid setup — whatever fits best with the team and
          the project.</span
        >
      </div>
      <div>
        <img src="assets/icons/about_me/cognition.png" alt="" />
        <span
          >I'm very open-minded and genuinely enjoy learning new technologies.
          I'm always looking for ways to improve my skills and grow as a
          developer</span
        >
      </div>
      <div>
        <img src="assets/icons/about_me/quality.png" alt="" />
        <span
          >I always aim for efficient and elegant solutions. I rely on deep
          analytical thinking, creativity, persistence, and strategic planning
          to overcome challenges. Each problem helps me grow, and I enjoy
          collaborating with others to find the best possible outcome.
        </span>
      </div>
    </div>
  </div>
</section>
