<section>
  <div class="image-container block">
    <div class="profile"></div>
    <!-- <img class="profile" src="assets/img/profile.jpg" alt=""> -->
    <img
      class="profile-background"
      src="assets/img/profile_image_hover.png"
      alt="Hover effect"
    />
  </div>

  <div id="about-me-scroll-mobile" class="about-me-container block">
    <span class="about-me-container__headline">{{
      lang.languageEnglish() ? langTexts.en.headline : langTexts.de.headline
    }}</span>
    <div class="about-me text-frame">
      <h2 class="about-me__headline">
        {{ lang.languageEnglish() ? langTexts.en.title : langTexts.de.title }}
      </h2>
      <span>{{
        lang.languageEnglish()
          ? langTexts.en.textAboutMe
          : langTexts.de.textAboutMe
      }}</span>
      <div>
        <img src="assets/icons/about_me/location_on.png" alt="Location icon" />
        <span>{{
          lang.languageEnglish()
            ? langTexts.en.textLocation
            : langTexts.de.textLocation
        }}</span>
      </div>
      <div>
        <img src="assets/icons/about_me/cognition.png" alt="Cognition icon" />
        <span>{{
          lang.languageEnglish()
            ? langTexts.en.textCognition
            : langTexts.de.textCognition
        }}</span>
      </div>
      <div>
        <img src="assets/icons/about_me/quality.png" alt="Quality icon" />
        <span
          >{{
            lang.languageEnglish()
              ? langTexts.en.textQuality
              : langTexts.de.textQuality
          }}
        </span>
      </div>
    </div>
  </div>
</section>
