<section>
  <div class="navbar-componet">
    <app-navbar></app-navbar>
    <app-navbar-mobile></app-navbar-mobile>
  </div>
  <div class="centered">
    <h2>Frontend Developer</h2>
    <h1>Christian Müller</h1>
    <div class="buttons">
      <button
        (click)="scrollToSection('featured-projects-scroll')"
        class="button"
      >
        @if(lang.languageEnglish()){ Check my work }@else { Meine Projekte }

        <img
          class="arrow-outward"
          src="assets/icons/arrow_outward_aqua.png"
          alt="Arrow icon"
        />
      </button>

      <button (click)="scrollToSection('contact-scroll')" class="button">
        @if(lang.languageEnglish()){ contact me }@else { Kontakt }
        <img
          class="arrow-outward"
          src="assets/icons/arrow_outward_aqua.png"
          alt="Arrow icon"
        />
      </button>
    </div>
  </div>
  <div class="left-lateral">
    <div class="left-arrow-box">
      <img src="assets/icons/arrow_down.png" alt="Arrow down" />
    </div>
    <div class="vector"></div>
  </div>

  <div class="right-lateral">
    <a class="mail-desktop" href="mailto:christianmueller8gmx.net"
      >christianmueller8gmx.net</a
    >
    <a class="mail-mobile icon" href="mailto:christianmueller8gmx.net">
      <img src="assets/icons/mail.png" alt="" />
    </a>
    <a
      href="https://github.com/ChrisHub93"
      target="_blank"
      rel="noopener noreferrer"
      class="icon"
    >
      <img src="assets/icons/gitHub_icon.png" alt="" />
    </a>
    <a
      href="https://www.linkedin.com/in/christian-m%C3%BCller-9161bb3a0/"
      target="_blank"
      rel="noopener noreferrer"
      class="icon"
    >
      <img src="assets/icons/linkedIn_icon.png" alt="" />
    </a>

    <div class="vector"></div>
  </div>
  <div class="carousel">
    <div class="carousel-inner">
      @if(lang.languageEnglish()){
      <div class="group">
        <div class="card">·</div>
        <div class="card">Aviable for remote work</div>
        <div class="card">·</div>
        <div class="card">Frontend Developer</div>
        <div class="card">·</div>
        <div class="card">Based in Kerpen</div>
        <div class="card">·</div>
        <div class="card">Open to work</div>
      </div>
      <div aria-hidden="true" class="group">
        <div class="card">·</div>
        <div class="card">Aviable for remote work</div>
        <div class="card">·</div>
        <div class="card">Frontend Developer</div>
        <div class="card">·</div>
        <div class="card">Based in Kerpen</div>
        <div class="card">·</div>
        <div class="card">Open to work</div>
      </div>
      } @else {
      <div class="group">
        <div class="card">·</div>
        <div class="card">Verfügbar für Remote-Arbeit</div>
        <div class="card">·</div>
        <div class="card">Frontend Developer</div>
        <div class="card">·</div>
        <div class="card">Wohne in Kerpen</div>
        <div class="card">·</div>
        <div class="card">Bereit für neue Projekte</div>
      </div>
      <div aria-hidden="true" class="group">
        <div class="card">·</div>
        <div class="card">Verfügbar für Remote-Arbeit</div>
        <div class="card">·</div>
        <div class="card">Frontend Developer</div>
        <div class="card">·</div>
        <div class="card">Wohne in Kerpen</div>
        <div class="card">·</div>
        <div class="card">Bereit für neue Projekte</div>
      </div>
      }
    </div>
  </div>
</section>
