@import "./../../../styles.scss";

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("./../../../assets/img/landing-page-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 128px;
    font-weight: 700;
    letter-spacing: -8px;

    text-align: center;
    @media (max-width: 990px) {
      font-size: 99px;
    }
    @media (max-width: 768px) {
      font-size: 62px;
      letter-spacing: -4px;
    }
    @media (max-width: 437px) {
      padding-right: 10px;
    }
    @media (max-width: 414px) {
      padding-right: 0;
    }
  }
  h2 {
    font-family: "Fira Code";
    font-size: 40px;
    font-weight: 400;
    @media (max-width: 990px) {
      font-size: 32px;
    }
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }
  > .buttons {
    margin-top: 32px;
    display: flex;
    gap: 48px;
    @media (max-width: 990px) {
      gap: 32px;
    }
    @media (max-width: 397px) {
      gap: 12px;
    }
    @media (max-width: 320px) {
      padding: 0 8px;
    }
  }
}

.left-lateral {
  position: absolute;
  top: 62%;
  bottom: 0;
  left: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 32px;
  @media (max-width: 635px) {
    top: 72%;
    left: 45px;
  }

  > .left-arrow-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 30px;
    border: 1px solid $aqua;
    border-radius: 32px;

    > img {
      position: absolute;
      animation: arrow-movement 0.5s ease-in-out infinite alternate;
    }
  }

  > .vector {
    flex: 1;
    width: 1px;
    background-color: $aqua;
    opacity: 0.5;
  }
}

.right-lateral {
  position: absolute;
  top: 62%;
  bottom: 0;
  right: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 32px;
  @media (max-width: 635px) {
    top: 72%;
    right: 45px;
  }

  > .mail-desktop {
    font-size: 18px;
    transform: translateY(-100px) translateX(-4px) rotate(269deg);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url("./../../../assets/icons/point_aqua.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 8px;
      height: 8px;
      top: 50%;
      left: 50%;
      transition: transform 0.3s ease, opacity 0.3s ease;
      opacity: 0;
    }
    &:hover {
      cursor: pointer;
      color: $aqua;
      &::after {
        opacity: 1;
        transform: translateY(20px);
      }
    }
    @media (max-width: 1170px) {
      display: none;
    }
  }

  > .mail-mobile {
    display: none;
    position: relative;
    @media (max-width: 1170px) {
      display: block;
    }
  }

  > .icon {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("./../../../assets/icons/point_aqua.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 8px;
      height: 8px;
      top: 30%;
      right: 3px;
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
    &:hover {
      &::after {
        opacity: 1;
        transform: translateX(20px);
      }
    }
    > img {
      &:hover {
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(1);
      }
    }
  }

  > .vector {
    flex: 1;
    width: 1px;
    background-color: #ffffff;
    opacity: 0.5;
  }
}

.carousel {
  position: absolute;
  bottom: -73px;
  left: 3%;
  width: 105%;
  height: 62px;
  transform: translateY(-65px) translateX(-65px) rotate(-5deg);
  background-color: rgba(56, 56, 56, 0.886);
  margin: 100px auto;
  display: flex;
  overflow: hidden;
  &:hover {
    > .group {
      cursor: default;
      animation-play-state: paused;
    }
  }
  @media (max-width: 990px) {
    left: 5%;
  }
  @media (max-width: 768px) {
    left: 0%;
    width: 124%;
  }
  @media (max-width: 635px) {
    height: 36px;
    bottom: -140px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  > .group {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 10s infinite linear;

    > .card {
      flex: 0 0 310px;
      height: 100%;
      font-size: 24px;
      text-align: center;
      align-content: center;
      color: $aqua;
      @media (max-width: 635px) {
        font-size: 16px;
        flex: 0 0 200px;
      }
    }
  }
}

@keyframes arrow-movement {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
