<section>
  <div class="navbar-componet">
    <app-navbar></app-navbar>
  </div>
  <div class="centered">
    <h2>Frontend Developer</h2>
    <h1>Christian Müller</h1>
    <div class="buttons">
      <button
        (click)="scrollToSection('featured-projects-scroll')"
        class="button"
      >
        Check my work
        <img
          class="arrow-outward"
          src="assets/icons/arrow_outward_aqua.png"
          alt="Arrow icon"
        />
      </button>

      <button (click)="scrollToSection('contact-scroll')" class="button">
        Contact me
        <img
          class="arrow-outward"
          src="assets/icons/arrow_outward_aqua.png"
          alt="Arrow icon"
        />
      </button>
    </div>
  </div>
  <div class="left-lateral">
    <div class="left-arrow-box">
      <img src="assets/icons/arrow_down.png" alt="Arrow down" />
    </div>
    <div class="vector"></div>
  </div>

  <div class="right-lateral">
    <a class="mail" href="#contact-scroll">christianmueller8gmx.net</a>
    <a
      href="https://github.com/ChrisHub93"
      target="_blank"
      rel="noopener noreferrer"
      class="icon"
    >
      <img src="assets/icons/gitHub_icon.png" alt="" />
    </a>
    <a
      href=""
      target="_blank"
      rel="noopener noreferrer"
      class="icon"
    >
      <img src="assets/icons/linkedIn_icon.png" alt="" />
    </a>

    <div class="vector"></div>
  </div>
  <div class="marquee">
    <div>
      <span>·</span>
      <span> Aviable for remote work</span>
      <span>·</span>
      <span> Frontend Developer </span>
      <span>·</span>
      <span> Based in Kerpen </span>
      <span>·</span>
      <span> Open to work </span>

      <span>·</span>
      <span> Aviable for remote work</span>
      <span>·</span>
      <span> Frontend Developer </span>
      <span>·</span>
      <span> Based in Kerpen </span>
      <span>·</span>
      <span> Open to work </span>
    </div>
  </div>
</section>
