<section>
  <span class="section-name">Portfolio</span>
  <h2 class="portfolio-headline">Featured Projects</h2>
  <span>
    Explore a selection of my work here - Interact with <br />
    projects to see my skills in action.
  </span>

  <div class="project-box">
    <div class="projects-container">
      @for (project of projects; track $index) {

      <!-- Liste mit Projecten -->
      <div
        (click)="openProjectInfo(project)"
        (mouseenter)="showImage(project.name)"
        (mouseleave)="hideImage()"
        class="project"
      >
        <div class="line"></div>
        <div class="project-info">
          <div>
            <span class="project-name">{{ project.name }}</span>
            <img
              class="arrow_outward-icon"
              src="assets/icons/arrow_outward.png"
              alt="Arrow outward"
            />
          </div>

          <div class="prject-skills">
            @for (skill of project.skills; track $index) {
            <span>{{ skill }}</span>
            @if(!$last){
            <span>|</span>
            } }
          </div>
        </div>
      </div>
      }
      <!-- Overlay mit Info -->
      @if (selectedProject) {
      <div class="project-info-overlay" (click)="closeProjectInfo()">
        <app-project-info
          [project]="selectedProject"
          [projects]="projects"
          (close)="closeProjectInfo()"
        ></app-project-info>
      </div>
      }
    </div>

    <div
      class="project-images-container"
      [ngClass]="{
        center: showElPolloLocoImg,
        end: showDABubbleImg,
      }"
    >
      @if(showJoinImg){
      <img
        class="join-img"
        src="assets/img/featured_projects/join.png"
        alt=""
      />
      } @if(showElPolloLocoImg){
      <img
        class="pollo-img"
        src="assets/img/featured_projects/el_pollo_loco.png"
        alt=""
      />} @if(showPokedexImg){
      <img
        class="pokedex-img"
        src="assets/img/featured_projects/pokedex.png"
        alt=""
      />}
      @if(showDABubbleImg){
        <img
          class="bubble-img"
          src="assets/img/featured_projects/da_bubble.png"
          alt=""
        />}
    </div>
  </div>
</section>
