<section>
  <span class="section-name">Portfolio</span>
  <h2 class="portfolio-headline">Featured Projects</h2>
  <span>
    Explore a selection of my work here - Interact with <br />
    projects to see my skills in action.
  </span>
  <div class="project-box">
    <div class="projects-container">
      <div class="project" data-img="join-img">
        <div class="line"></div>
        <div class="project-info">
          <div>
            <span class="project-name">Join</span>
            <img class="arrow_outward-icon" src="assets/icons/arrow_outward.png" alt="Arrow outward" />
          </div>

          <div class="prject-skills">
            <span>JavaScript</span> <span>|</span><span>HTML</span>
            <span>|</span><span>CSS</span> <span>|</span><span>Firebase</span>          
          </div>
        </div>
      </div>

      <div class="project" data-img="pollo-img">
        <div class="line"></div>
        <div class="project-info">
          <div>
            <span class="project-name">El Pollo Loco</span>
            <img class="arrow_outward-icon" src="assets/icons/arrow_outward.png" alt="Arrow outward" />
          </div>
          <div class="prject-skills">
            <span>JavaScript</span> <span>|</span><span>HTML</span>
            <span>|</span><span>CSS</span> 
          </div>
        </div>
      </div>

      <div class="project" data-img="bubble-img">
        <div class="line"></div>
        <div class="project-info">
          <div>
            <span class="project-name">DA Bubble</span>
            <img class="arrow_outward-icon" src="assets/icons/arrow_outward.png" alt="Arrow outward" />
          </div>
          <div class="prject-skills">
            <span>Angular</span> <span>|</span><span>TypeScript</span> <span>|</span><span>HTML</span>
            <span>|</span><span>CSS</span><span>|</span><span>Firebase</span>
          </div>
        </div>
        <div class="line"></div>
      </div>
    </div>

    <div class="project-images-container">
        <img id="join-img" class="join-img" src="assets/img/featured_projects/join.png" alt="">
        <img id="pollo-img" class="pollo-img" src="assets/img/featured_projects/el_pollo_loco.png" alt="">
        <img id="bubble-img" class="bubble-img" src="assets/img/featured_projects/da_bubble.png" alt="">
    </div>
  </div>
</section>
