@import "./../../../styles.scss";

section {
  background-color: $backgroundDark;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 102px 96px;
  gap: 20px;
}

.section-name {
  color: $aqua;
  font-size: 24px;
  font-weight: bold;
}

.portfolio-headline {
  color: $aqua;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: -6px;
}

.project-box {
  display: flex;
}

.projects-container {
  width: 65%;
  //background-color: orange;
}

.project-images-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;

  > img {
    height: 212px;
    width: 315px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  > .line {
    border: 1px solid $aqua;
    height: 1px;
    width: 100%;
  }
  > .project-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 32px;
    > div {
      display: flex;
      gap: 5px;
      > .project-name {
        font-size: 24px;
        font-weight: bold;
      }
      > .arrow_outward-icon {
        display: none;
      }
    }

    > .prject-skills {
      display: flex;
      gap: 5px;
      font-size: 18px;
      :nth-child(even) {
        color: $aqua;
      }
    }
  }
  &:hover {
    cursor: pointer;
    background-color: rgb(61, 207, 182, 0.1);
    .arrow_outward-icon {
      display: block !important;
    }
  }
}

.project-images-container.center {
  justify-content: center;
}

.project-images-container.end {
  justify-content: flex-end;
}

.project-info-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
