@import "./../../../styles.scss";

section {
  background-color: $backgroundDark;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 102px 96px;
  gap: 20px;
}

.section-name {
  color: $aqua;
  font-size: 24px;
  font-weight: bold;
}

.portfolio-headline {
  color: $aqua;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: -6px;
}

.project-box {
  display: flex;
}

.projects-container {
  width: 65%;
}

.project-images-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;

  > img {
    height: 212px;
    width: 315px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  > .line {
    border: 1px solid $aqua;
    height: 1px;
    width: 100%;
  }
  > .project-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 32px;
    > div {
      display: flex;
      gap: 5px;
      > .project-name {
        font-size: 24px;
        font-weight: bold;
      }
      > .arrow_outward-icon {
        display: none;
      }
    }

    > .prject-skills {
      display: flex;
      gap: 5px;
      font-size: 18px;
      :nth-child(even) {
        color: $aqua;
      }
    }
  }
  &:hover {
    cursor: pointer;
    background-color: rgb(61, 207, 182, 0.1);
    .arrow_outward-icon {
      display: block !important;
    }
  }
}

.projects-container {
  > .project {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -90%;
      right: -313px;
      height: 320px;
      width: 320px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.3s ease, opacity 0.3s ease;
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
      transform: translateX(20px);
    }

    &.c01::after {
      background-image: url("./../../../assets/img/featured_projects/join.png");
    }
    &.c02::after {
      background-image: url("./../../../assets/img/featured_projects/el_pollo_loco.png");
    }
    &.c03::after {
      background-image: url("./../../../assets/img/featured_projects/pokedex.png");
    }
    &.c04::after {
      background-image: url("./../../../assets/img/featured_projects/da_bubble.png");
    }
  }
}

.project-images-container.center {
  justify-content: center;
}

.project-images-container.end {
  justify-content: flex-end;
}

.project-info-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
