@import "./../../../styles.scss";

section {
  background-color: $backgroundDark;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 102px 96px;
  gap: 20px;
  @media (max-width: 768px) {
    padding: 102px 32px;
  }
  @media (max-width: 635px) {
    padding: 56px 8px;
   }
}

.section-name {
  color: $aqua;
  font-size: 24px;
  font-weight: bold;
}

.portfolio-headline {
  color: $aqua;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: -6px;
  @media (max-width: 635px) {
    font-size: 56px;
  }
}

.text-portfolio {
  font-size: 18px;
  max-width: 370px;
  @media (max-width: 635px) {
    max-width: 100%;
    font-size: 16px;
  }
}

.project-box {
  display: flex;
}

.project-images-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 990px) {
    display: none;
  }

  > img {
    height: 212px;
    width: 315px;
  }
}

.project {
  display: flex;
  flex-direction: column;

  > .line {
    border: 1px solid $aqua;
    height: 1px;
    width: 100%;
  }

  > .project-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 32px;
    @media (max-width: 990px) {
      padding: 32px 0;
    }
    @media (max-width: 593px) {
      flex-direction: column;
      align-items: flex-start;
    }

    > div {
      display: flex;
      gap: 5px;

      > .project-name {
        font-size: 24px;
        font-weight: bold;
      }

      > .arrow_outward-icon {
        display: none;
      }
    }

    > .prject-skills {
      display: flex;
      gap: 5px;
      font-size: 18px;
      flex-wrap: wrap;
      :nth-child(even) {
        color: $aqua;
      }
    }
  }
  @media (max-width: 990px) {
    cursor: pointer;
    .arrow_outward-icon {
      display: block !important;
    }
  }
  @media (min-width: 991px) {
    &:hover {
      cursor: pointer;
      background-color: rgb(61, 207, 182, 0.1);
      .arrow_outward-icon {
        display: block !important;
      }
    }
  }
}

.projects-container {
  width: 65%;
  @media (max-width: 990px) {
    width: 100%;
  }

  > .project {
    position: relative;
    &.c01::after {
      background-image: url("./../../../assets/img/featured_projects/poke.png");
    }
    &.c02::after {
      background-image: url("./../../../assets/img/featured_projects/join.png");
    }
    &.c03::after {
      background-image: url("./../../../assets/img/featured_projects/el_pollo_loco.png");
    }
    &.c04::after {
      background-image: url("./../../../assets/img/featured_projects/da_bubble.png");
    }
    @media (min-width: 991px) {
      &::after {
        content: "";
        position: absolute;
        top: -90%;
        right: -313px;
        height: 320px;
        width: 320px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 0;
      }
      &:hover::after {
        opacity: 1;
        transform: translateX(20px);
      }
    }
  }
}

.project-images-container.center {
  justify-content: center;
}

.project-images-container.end {
  justify-content: flex-end;
}

.project-info-overlay {

  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

app-project-info{
  width: 100%;
  height: 100%;
}
