@import "./../../styles.scss";

.max-content {
  display: flex;
  justify-content: center;
  background-color: $backgroundDark;
}

.background-landing-page {
  display: flex;
  justify-content: center;
  background-image: url("./../../assets/img/landing-page-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-skill-set {
  display: flex;
  justify-content: center;
  background-color: $backgroundDark;
  background-image: url("./../../assets/img/skill-set-background.png");
  background-size: 100% 90%;
  background-position: center;
  background-repeat: no-repeat;
}
