<section>
  <div class="footer">
    <div class="left-side">
      <div class="logo">
        <a href="#landing-page-scroll"></a>
      </div>
      <span>Web Developer</span>
      <span>Kerpen Germany</span>
    </div>
    <div class="middle">
      <span class="fontFira-code">© Christian Müller 2025</span>
    </div>
    <div class="right-side">
      <a
        href="https://github.com/ChrisHub93"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub
      </a>
      <a href="https://de.linkedin.com/"
      target="_blank"
      rel="noopener noreferrer">LinkedIn</a>
      <a href="#contact-scroll">Email</a>
      <a href='legal-notice'>Legal Notice</a>
    </div>
  </div>

  <div class="middle-mobile">
    <span class="fontFira-code">© Christian Müller 2025</span>
  </div>
</section>
