<section>
  <div class="footer">
    <div class="left-side">
      <div class="logo">
        <a [routerLink]="['/']"></a>
      </div>
      <span>Web Developer</span>
      <span>Kerpen Germany</span>
    </div>
    <div class="middle">
      <span class="fontFira-code">© Christian Müller 2025</span>
    </div>
    <div class="right-side">
      <a
        href="https://github.com/ChrisHub93"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub
      </a>
      <a
        href="https://www.linkedin.com/in/christian-m%C3%BCller-9161bb3a0/"
        target="_blank"
        rel="noopener noreferrer"
        >LinkedIn</a
      >
      <a href="mailto:christianmueller8gmx.net">Email</a>
      <a [routerLink]="['/legal-notice']" fragment="legal-notice-scroll">Legal Notice</a>
    </div>
  </div>

  <div class="middle-mobile">
    <span class="fontFira-code">© Christian Müller 2025</span>
  </div>
</section>
