<section>
  <div
    (click)="mainTs.scrollToSection('landing-page-scroll')"
    class="left-side"
  >
    <div class="logo">
    </div>
    <span>Web Developer</span>
    <span>Kerpen Germany</span>
  </div>
  <div class="middle">
    <span class="fontFira-code">© Christian Müller 2025</span>
  </div>
  <div class="right-side">
    <a
      href="https://github.com/ChrisHub93"
      target="_blank"
      rel="noopener noreferrer"
      >GitHub
    </a>
    <a href="">LinkedIn</a>
    <a href="#contact-scroll">Email</a>
    <a href="legal-notice">Legal Notice</a>
  </div>
</section>
