@import "./../../styles.scss";

@media (min-width: 1921px) {
  app-navbar ::ng-deep nav {
    position: relative;
  }
}

body {
  background-color: $backgroundDark;
}

section {
  background-color: $backgroundDark;
  width: 100%;
  display: flex;
  justify-self: center;
  padding: 102px 96px;
  flex-direction: column;
  @media (max-width: 730px) {
    padding: 102px 56px;
  }
}

h1 {
  font-size: 64px;
  align-self: center;
  color: $aqua;
  margin-top: 64px;
  margin-bottom: 64px;
  @media (max-width: 635px) {
    font-size: 56px;
  }
}

.background {
  width: 100%;
  background-color: $backgroundDark;
}

.imprint {
  font-size: 19px;
}

.legal-notice-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  p {
    font-size: 18px;
    color: $aqua;
    @media (max-width: 635px) {
      font-size: 16px;
    }
  }
  div {
    > h2 {
      font-size: 18px;
      @media (max-width: 635px) {
        font-size: 16px;
      }
    }
  }
}
