@import "./../../../styles.scss";

section {
  background-color: $backgroundDark;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 102px 0;
  gap: 20px;
}

h1 {
  color: $aqua;
  font-size: 32px;
  font-weight: bold;
}

.comments-container {
  width: 100%;
  overflow-x: hidden;
}

.vector {
  flex: 1;
  height: 1px;
  background-color: white;
  opacity: 0.5;
}

.comment-section {
  display: flex;
  gap: 64px;
  justify-content: center;
  > .comment-active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 632px;
    min-width: 632px;
    height: 274px;
    font-size: 20px;
    font-weight: 400;
    > .autor-section {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  > .comment-passive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 632px;
    min-width: 632px;
    height: 248px;
    font-size: 20px;
    font-weight: 400;
    > .autor-section {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}

.scroll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  overflow-x: auto;

  > button {
    cursor: pointer;
    background-color: unset;
    border: none;
  }
}

.points {
  display: flex;
  gap: 20px;
  cursor: pointer;
  > a {
    height: 8px;
    width: 8px;
  }
  > .point-inactive {
    background-image: url("./../../../assets/icons/point_white.png");
  }
  > .point-active {
    background-image: url("./../../../assets/icons/point_aqua.png");
  }
}
