<section>
  <h1 class="fontFira-code">What my colleagues say about me</h1>
  <div class="comments-container">
    <div class="comment-section">
        <div class="comment-passive text-frame">
            <span>
              I had the good fortune of working with Simon in a group project at the
              Developer Akademie that involved a lot of effort. He always stayed
              calm, cool, and focused, and made sure our team was set up for
              success. He's super knowledgeable, easy to work with, and I'd happily
              work with him again given the chance.
            </span>
            <div class="autor-section">
              <div class="vector"></div>
              <div class="comment-autor">A.Fischer -Team Partner</div>
            </div>
          </div>

      <div class="comment-active text-frame">
        <span>
          I had the good fortune of working with Simon in a group project at the
          Developer Akademie that involved a lot of effort. He always stayed
          calm, cool, and focused, and made sure our team was set up for
          success. He's super knowledgeable, easy to work with, and I'd happily
          work with him again given the chance.
        </span>
        <div class="autor-section">
          <div class="vector"></div>
          <div class="comment-autor">A.Fischer -Team Partner</div>
        </div>
      </div>

      <div class="comment-passive text-frame">
        <span>
          I had the good fortune of working with Simon in a group project at the
          Developer Akademie that involved a lot of effort. He always stayed
          calm, cool, and focused, and made sure our team was set up for
          success. He's super knowledgeable, easy to work with, and I'd happily
          work with him again given the chance.
        </span>
        <div class="autor-section">
          <div class="vector"></div>
          <div class="comment-autor">A.Fischer -Team Partner</div>
        </div>
      </div>
    </div>
  </div>
</section>
