@import "./../../../styles.scss";

section {
  position: relative;
  background-color: $backgroundDark;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 102px 0;
  gap: 48px;
}

.vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to right,
    rgba(28, 28, 28, 0.8) 0%,
    rgba(28, 28, 28, 0) 20%,
    rgba(28, 28, 28, 0) 80%,
    rgba(28, 28, 28, 0.8) 100%
  );
}

h1 {
  color: $aqua;
  font-size: 32px;
  font-weight: bold;
}

.comments-container {
  width: 100%;
  overflow-x: hidden;
}

.vector {
  flex: 1;
  height: 1px;
  background-color: white;
  opacity: 0.5;
}

.comment-section {
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
  > .comment-active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 632px;
    min-width: 632px;
    height: 274px;
    font-size: 20px;
    font-weight: 400;
    background-color: rgba(61, 207, 182, 0.5);
    > .autor-section {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  > .comment-passive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 632px;
    min-width: 632px;
    height: 248px;
    font-size: 20px;
    font-weight: 400;
    > .autor-section {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}

.scroll-container {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  overflow-x: auto;

  > button {
    background-color: unset;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 32px;
    transition: transform 0.3s ease;

    &:hover {
      cursor: pointer;
    }
  }
}

.btn-prev {
  background-image: url("./../../../assets/icons/arrow_back.png");
  &:hover {
    transform: translateX(-5px) scale(1.1);
    background-image: url("./../../../assets/icons/arrow_back_aqua.png");
  }
}

.btn-next {
  background-image: url("./../../../assets/icons/arrow_forward_white.png");
  &:hover {
    transform: translateX(5px) scale(1.1);
    background-image: url("./../../../assets/icons/arrow_forward_aqua.png");
  }
}

.points {
  display: flex;
  gap: 20px;
  cursor: pointer;
  > a {
    height: 8px;
    width: 8px;
    &:hover {
      transform: scale(1.3);
    }
  }
  > .point-inactive {
    background-image: url("./../../../assets/icons/point_white.png");
  }
  > .point-active {
    background-image: url("./../../../assets/icons/point_aqua.png");
  }
}
