<section>
  <div class="vignette"></div>
  <h1 class="fontFira-code">
    {{ lang.languageEnglish() ? langTexts.en.headline : langTexts.de.headline }}
  </h1>
  <div class="comments-container">
    <div
      class="comment-section"
      [class.transition-enabled]="transitionEnabled"
      [style.transform]="
        'translateX(calc(50% - ' +
        commentWidth / 2 +
        'px - ' +
        displayIndex * (commentWidth + gap) +
        'px))'
      "
    >
      @for (comment of displayComments; track $index) {
      <div
        [class.comment-active]="$index === displayIndex"
        [class.comment-passive]="$index !== displayIndex"
        class="text-frame"
      >
        <span>{{ lang.languageEnglish() ? comment.commentEN :comment.commentDE }}</span>
        <div class="autor-section">
          <div class="vector"></div>
          <div class="comment-autor">{{ comment.autor }}</div>
        </div>
      </div>
      }
    </div>
  </div>
  <div class="scroll-container">
    <button
      class="btn-prev"
      (click)="prev()"
      [disabled]="isTransitioning"
      aria-label="Previous Comment"
    ></button>
    <nav class="points">
      @for (point of references; track point.id) {
      <a
        [class.point-active]="point.active"
        [class.point-inactive]="!point.active"
        (click)="setActive(point.id)"
        (keydown.enter)="setActive(point.id)"
        tabindex="0"
        [attr.aria-label]="'Go to comment ' + ($index + 1)"
      ></a>
      }
    </nav>
    <button
      class="btn-next"
      (click)="next()"
      [disabled]="isTransitioning"
      aria-label="Next Comment"
    ></button>
  </div>
</section>
