* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Karla";
  color: #d9d9d9;
}

$aqua: #3dcfb6;
$backgroundDark: #1c1c1c;

/* Fira Code Font */
@font-face {
  font-family: "Fira Code";
  src: url("assets/fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

/* Karla Font  */
@font-face {
  font-family: "Karla";
  src: url("assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

.fontFira-code {
  font-family: "Fira Code";
}

.button {
  display: flex;
  align-items: center;
  height: 48px;
  width: fit-content;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 24px;
  font-size: 18px;
  text-align: center;
  gap: 4px;
  > .arrow-outward {
    transition: transform 0.2s ease;
  }
  &:hover {
    cursor: pointer;
    border-color: $aqua;
    color: $aqua;
    > .arrow-outward {
      transform: translateX(6px) translateY(-3px);
    }
  }
}

a {
  text-decoration: none;
}

.text-frame {
  background-color: rgb(61, 207, 182, 0.1);
  border: 1px solid $aqua;
  border-radius: 30px;
  padding: 32px;
}

.logo {
  height: 48px;
  width: 132px;
  background-image: url("./assets/icons/logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    cursor: pointer;
    background-image: url("./assets/icons/logo_hover.png");
  }
}

.no-scroll {
  overflow: hidden !important;
  height: 100vh;
}
