@import "./../../../styles.scss";

section {
    background: $aqua;
  background-image:
    linear-gradient(90deg,rgba(61, 207, 182, 0%) -52%, rgba(28, 28, 28, 1) 18%)
    ,
    url("./../../../assets/img/skill-set-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  display: flex;
  padding: 56px 96px;
  justify-content: space-between;
  align-items: center;
  gap: 8%;
}

.skill-set-container {
  width: 50%;
  > span {
    color: $aqua;
    font-size: 24px;
    font-weight: 700;
  }
}

.skill-set {
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 18px;
  > h2 {
    color: $aqua;
    font-size: 64px;
    font-weight: bold;
    letter-spacing: -6px;
  }
  > .skill-set__another-skill {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    > span {
      color: $aqua;
    }
  }
}

.icons-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 16%;
  align-items: flex-start;
  > .icon {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 68px;
    &:hover {
      cursor: default;
      scale: 1.08;
    }
    > img {
      height: 64px;
    }
    > span {
      text-align: center;
    }
  }
}
