<section>
  <div class="skill-set-container">
    <span>Technologies</span>
    <div class="skill-set text-frame">
      <h2>Skill Set</h2>

      <span>
        I've built a strong foundation in front-end development and really enjoy
        working with modern tools and frameworks. What excites me most is how
        fast the web evolves — there's always something new to explore. I'm
        genuinely curious and love expanding my skill set, learning new
        technologies, and improving step by step.
      </span>

      <span class="skill-set__another-skill">
        You need&nbsp; <span>another skill?</span>
      </span>

      <span>
        Feel free to contact me. I look forward to expanding on my previous
        knowledge.
      </span>

      <button (click)="mainTs.scrollToSection('contact-scroll')" class="button">
        Let's talk
        <img
          class="arrow-outward"
          src="assets/icons/arrow_outward_aqua.png"
          alt="Arrow icon"
        />
      </button>
    </div>
  </div>

  <div class="icons-container">
    @for (skill of skillList; track $index) {
    <div class="icon">
      <img src="assets/icons/skill_set/{{ skill }}.png" alt="" />
      <span>{{ skill }}</span>
    </div>
    }

    <div
      class="growth-icon"
      data-tooltip="A mindset focused on learning and improvement"
    >
      <img src="assets/icons/skill_set/Growth Mindset.png" alt="" />
      <span>Growth mindset</span>
    </div>
  </div>
</section>
