<section>
  <div class="skill-set-container">
    <span>Technologies</span>
    <div class="skill-set text-frame">
      <h2>Skill Set</h2>

      <span>
        A short introduction of your skills. Highlight your experience of using
        different front-end technologies and emphasise your openness to learning
        and adapting to new technologies. Show how important it is for you to
        keep up with the rapid changes in web development.
      </span>

      <span class="skill-set__another-skill">
        You need&nbsp; <span>another skill?</span>
      </span>

      <span>
        Feel free to contact me. I look forward to expanding on my previous
        knowledge.
      </span>

      <button class="button">Let's talk</button>
    </div>
  </div>
  <div class="icons-container"></div>
</section>
