@import "./../../../styles.scss";

section {
  background: $aqua;
  background-image: linear-gradient(
      90deg,
      rgba(61, 207, 182, 0%) -52%,
      rgba(28, 28, 28, 1) 18%
    ),
    url("./../../../assets/img/skill-set-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  padding: 56px 96px;
  justify-content: space-between;
  align-items: center;
  gap: 8%;
  @media (max-width: 990px) {
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 768px) {
    padding: 56px 32px;
  }
  @media (max-width: 635px) {
    padding: 56px 8px;
  }
}

.skill-set-container {
  width: 50%;
  @media (max-width: 990px) {
    width: 100%;
  }

  > span {
    color: $aqua;
    font-size: 24px;
    font-weight: 700;
  }
}

.skill-set {
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 18px;
  @media (max-width: 635px) {
    font-size: 16px;
  }

  > h2 {
    color: $aqua;
    font-size: 64px;
    font-weight: bold;
    letter-spacing: -6px;
    @media (max-width: 635px) {
      font-size: 56px;
    }
  }

  > .skill-set__another-skill {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    @media (max-width: 490px) {
      flex-direction: column;
    }

    > span {
      color: $aqua;
    }
  }
}

.icons-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 16%;
  align-items: flex-start;
  @media (max-width: 990px) {
    justify-content: center;
    width: 98%;
    gap: 40px;
  }

  > .icon {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 68px;
    @media (max-width: 320px) {
      width: 58px;
    }
    &:hover {
      cursor: default;
      scale: 1.08;
    }

    > img {
      height: 64px;
    }

    > span {
      text-align: center;
    }
  }
}

.growth-icon {
  position: relative;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 68px;
  cursor: pointer;
  > img {
    height: 64px;
  }
  > span {
    text-align: center;
  }

  /* Tooltip */
  &::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-6px);
    background-color: rgba(61, 207, 182);
    color: white;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    white-space: normal;
    width: 200px;
  }

  &:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-12px);
    @media (max-width: 397px) {
      transform: translateX(-60%) translateY(-12px);
    }
  }

  /* Arrow */
  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(2px);
    border-width: 6px;
    border-style: solid;
    border-color: rgba(61, 207, 182, 0.9) transparent transparent transparent;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover::before {
    opacity: 1;
  }
}

@keyframes appear-left {
  from {
    transform: translateX(-100%);
    scale: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    scale: 1;
  }
}

@keyframes appear-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.block_left {
  animation: appear-left linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.block_right {
  animation: appear-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  @media (max-width: 990px) {
    animation-range: entry 0% cover 25%;
  }
}
